{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login" style="height:auto;padding: 15px">
            <div class="card-header card-header-primary text-center" style="padding: 0px">
                <h3 class="card-text" style="padding-bottom: 15px">{% trans "Password Reset" %}</h3>
            </div>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
    
            <p class="description text-center" style="font-weight: bolder">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
