{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login" style="height:auto;padding: 15px">
            <div class="card-header card-header-primary text-center" style="padding: 0px">
                <h3 class="card-text" style="padding-bottom: 15px">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
            </div>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="description text-center" style="font-weight: bolder">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary btn-link btn-wd btn-lg" style="padding-left: 90px" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </form>
                {% else %}
                    <p class="description text-center" style="font-weight: bolder">{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
