    {% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login" style="height:auto;padding: 15px">
            <div class="card-header card-header-primary text-center" style="padding: 0px">
                <h3 class="card-text" style="padding-bottom: 15px">{% trans "Sign Up Closed" %}</h3>
            </div>
            <h1></h1>

            <p class="description text-center" style="font-weight: bolder">{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
{% endblock %}
