<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <!-----Fonts and icons----->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-----CSS Files----->
        <link href="https://vaayuputras.imfast.io/material-kit.css" rel="stylesheet" />
        <script src="https://vaayuputras.imfast.io/jquery.min.js" type="text/javascript"></script>
        <script src="https://vaayuputras.imfast.io/popper.min.js" type="text/javascript"></script>
        <script src="https://vaayuputras.imfast.io/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src="https://vaayuputras.imfast.io/moment.min.js"></script>
        <script src="https://vaayuputras.imfast.io/material-kit.js?v=2.0.7" type="text/javascript"></script>
    {% endblock %}
</head>
<!-----body START----->
<body class="login-page sidebar-collapse">

{% block body %}

  <!-----header part START----->
  <nav id="home" class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100">
    <div class="container">
      <!-----vayuputras heading START----->
      <div class="navbar-translate">
        <a class="navbar-brand" href="/"> <big><big>
          Vaayu Putras </big></big></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-----vaayuputras heading END----->
      <!-----five buttons START----->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!-----home button START----->
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="material-icons">home</i> Home
            </a>
          </li>
          <!-----home button END----->
          <!-----dashboard button START----->
          <li class="nav-item">
            <a href="/dashb" class="nav-link">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <!-----dashboard button END----->
          <!-----setup wind farm button START----->
          <li class="nav-item">
            <a href="{% url 'setupwindfarm' %}" class="nav-link">
              <i class="material-icons">toys</i> SetUp Wind Farm
            </a>
          </li>
          <!-----setup wind farm button END----->
          <!-----contact us button START----->
          <li class="nav-item">
            <a href="{% url 'contactus' %}" class="nav-link">
              <i class="material-icons">phone</i> Contact Us
            </a>
          </li>
          <!-----contact us button END----->
          <!-----Login/Signup or user account button START----->
          <li class="dropdown nav-item">
              {% if user.is_authenticated %}
                    <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                      <div class="profile-photo-small">
                          {% if user.socialaccount_set.all.0.get_avatar_url %}
                              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                           {% else %}
                              <img src="https://vaayuputras.imfast.io/default-propic.jpg" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                          {% endif %}
                      </div>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <h6 class="dropdown-header" style="font-weight: bolder">{{ user.username | upper}}</h6>
                  {% if request.path != "/userHome" %}
                      <a href="/userHome" class="dropdown-item">My Account and Settings</a>
                  {% endif %}
                  {% if request.path != "/accounts/logout/" %}
                      <a href="/accounts/logout/" class="dropdown-item">SIGN OUT</a>
                   {% endif %}
              {% else %}
                        <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <button class="btn btn-info btn-sm ">Login/Sign Up</button>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
              {% if request.path != "/accounts/login/" %}
                      <a href="/accounts/login/" class="dropdown-item">LOG IN</a>
              {% endif %}
              {% if request.path != "/accounts/signup/" %}
                      <a href="/accounts/signup/" class="dropdown-item">SIGN UP</a>
              {% endif %}

              {% endif %}
                    </div>
                  </li>
          <!-----Login/Signup or user account button END----->
        </ul>
      </div>
      <!----five buttons END----->
    </div>
  </nav>
  <!-----header part END----->
  <!-----body part START----->
  <div class="page-header header-filter" style="background-image: url('https://vaayuputras.imfast.io/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row" style="margin-top: 40px">
        <!-----message part START----->
        {% if messages %}
          <div class="section cd-section section-notification" id="notification">
            <div class="alert alert-info">
              <div class="container">
                <div class=alert-icon>
                    <i class="material-icons">info_outline</i>
                </div>
                <!-----Cancel Button----->
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </span>
                </button>
                <!-----messaging part START----->
                <b>INFO ALERT : </b>
                     {% for message in messages %}
                         {{ message }}
                    {% endfor %}
                 <!-----messaging part END----->
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        {% endif %}
        <!-----message part end----->
        <!-----block content START----->
        {% block content %}
        {% endblock %}
        <!-----block content END----->
      </div>
    </div>
  </div>
  <!-----body part END----->
{% endblock %}

</body>
<!-----body END----->
</html>
