[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"

[packages]
gunicorn = "==19.7.1"
whitenoise = "==5.0"
ibmcloudenv = "*"
livereload = "*"
Django = ">=2.2.8"
psycopg2 = "==2.8.5"
djangorestframework = "*"
django-allauth = "*"
watson-machine-learning-client-v4 = "*"
numpy = "*"
tensorflow-cpu = "==2.1.0"
pipenv = "*"
keras = "==2.3.0"
