{% load static %}
<html lang="en">

<head>
  <title>Wind Power</title>
  <!-----Required meta tags----->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-----Fonts and icons----->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-----Material Kit CSS----->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.7/css/material-kit.css" integrity="sha512-PiSoB32xClutD6+bZ+OMrg9UGJF1pvkgzB40XLw8rK542EU9++JowHR73M7VI0WxtECWKYmVd11ehQ2j08W8cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/jquery-flexdatalist@2.2.4/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
</head>

<body class="index-page sidebar-collapse">
  <!-----header part START----->
  <nav id="home" class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100">
    <div class="container">
      <!-----vayuputras heading START----->
      <div class="navbar-translate">
        <a class="navbar-brand" href="#home"> <big><big>
          JETT </big></big></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-----vaayuputras heading END----->
      <!-----five buttons START----->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!-----home button START----->
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="material-icons">home</i> Home
            </a>
          </li>
          <!-----home button END----->
          <!-----dashboard button START----->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <!-----dashboard button END----->
          <!-----setup wind farm button START----->
          <li class="nav-item">
            <a href="{% url 'setupwindfarm' %}" class="nav-link">
              <i class="material-icons">construction</i> SetUp Wind Farm
            </a>
          </li>
          <!-----setup wind farm button END----->
          <!-----contact us button START----->
          <li class="nav-item">
            <a href="{% url 'contactus' %}" class="nav-link">
              <i class="material-icons">phone</i> Contact Us
            </a>
          </li>
          <!-----contact us button END----->
          <!-----Login/Signup or user account button START----->
          <li class="dropdown nav-item">
              {% if user.is_authenticated %}
                    <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                      <div class="profile-photo-small">
                          {% if user.socialaccount_set.all.0.get_avatar_url %}
                              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                           {% else %}
                              <img src="{% static "images/default-propic.jpg" %}" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                          {% endif %}
                      </div>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <h6 class="dropdown-header" style="font-weight: bolder">{{ user.username | upper}}</h6>
                  {% if request.path != "/userHome" %}
                      <a href="/userHome" class="dropdown-item">My Account and Settings</a>
                  {% endif %}
                  {% if request.path != "/accounts/logout/" %}
                      <a href="/accounts/logout/" class="dropdown-item">SIGN OUT</a>
                   {% endif %}
              {% else %}
                        <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <button class="btn btn-info btn-sm ">Login/Sign Up</button>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
              {% if request.path != "/accounts/login/" %}
                      <a href="/accounts/login/" class="dropdown-item">LOG IN</a>
              {% endif %}
              {% if request.path != "/accounts/signup/" %}
                      <a href="/accounts/signup/" class="dropdown-item">SIGN UP</a>
              {% endif %}

              {% endif %}
                    </div>
                  </li>
          <!----five buttons END----->
        </ul>
      </div>
      <!----five buttons END----->
    </div>
  </nav>
  <!-----header part END----->
  <!-----background image part START----->
  <div class="page-header header-filter " data-parallax="true" style="background-image: url('{% static "images/dashbg.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-10% mr-120%">
          <div class="brand text-left">
            <h1 class=" text-left"> Dashboard </h1>
            <h2 class="text-left">Forecasting Power</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-----background image part END----->
  <!-----body part START----->
  <div class="main main-raised">

      <!-----In body above or part START----->
      <div class="section">
        <div class="container">
            <form id='frmdb' method="post" action="wffromdb#predictions" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>Choose Wind Farm from our Database</h2>

                        <div class="form-group">
                            <label for="windfarmsdb">Wind Farms from Database</label>
                            <input type='text'
                                    placeholder="Enter Wind Farm Name or Place or Country"
                                    data-url= "{% static 'js/WindFarms.json' %}"
                                    class='form-control flexdatalist'
                                    data-search-in='["Name","Place","Country"]'
                                    data-visible-properties='["Name", "Place", "Country", "Capacity"]'
                                    data-group-by='Country'
                                    data-selection-required='true'
                                    data-focus-first-result='true'
                                    data-min-length='0'
                                    data-value-property='*'
                                    data-text-property='{Name}, {Country}, {Capacity} MW'
                                    data-search-contain='false'
                                    id='windfarmsdb'
                                    name='wind_farms'>

                            <small id="dbwindfarmshelp" class="form-text text-muted">Enter Wind Farm Name or Place or Country</small>
                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: center">
                        <button id="loaddbbtn" type="submit" class="btn btn-primary btn-round" > Let's Go
                        </button>
                </div>
            </form>
        </div>
    </div>
      <!-----In body above or part END----->
      <!-----In body or START----->
      <div class="section" style="padding:0;margin:0;height: 20px; background-color: #00bcd4">
          <button class="btn btn-info" style="width: 100%;font-size: 1.4rem; cursor: default;padding: 0">Or</button>
      </div>
      <!-----In body or END----->
      <!-----In body below or part START----->
      <div class="section">
        <div class="container">
            <h2>Select Wind Farm from the Map</h2>
            <h4>Feel Free to Explore the Maps and Select Wind Farm and Provide us it's Capacity (in MW).</h4>
            <form id='frmman' method="post" action="wfmanual#predictions">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="wflocation">Wind Farm Location</label>
                            <small id="locationHelp" class="form-text text-muted">Enter Name/Address of Wind Farm</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="map" style="margin-top: 10px"></div>

                </div>
                <input type="text" class="form-control" style="display: none" name="wfdetails" id="details" required>
                <input type="text" class="form-control" style="display: none" name="wflat" id="lat" required>
                <input type="text" class="form-control" style="display: none" name="wflong" id="long" required>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="wfcapacity">Wind Farm Capacity</label>
                            <input type="number" step="0.001" name="wfcapacity" class="form-control" id="wfcapacity" aria-describedby="wfcapacityHelp" placeholder="Enter Total Capacity (MW)" required>
                            <small id="wfcapacityHelp" class="form-text text-muted">Enter Total Capacity in Mega-Watts</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="wfnoofturbines">Total Turbines in Wind Farm</label>
                            <input type="number" class="form-control" id="wfnoofturbines" aria-describedby="wfcapacityHelp" placeholder="Enter Total Turbines in Wind Farm">
                            <small id="wfnoofturbinesHelp" class="form-text text-muted">Optional</small>
                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: center">
                        <button id="loadmanbtn" type="submit" class="btn btn-primary btn-round" > Let's Go
                        </button>
                </div>
            </form>
            </div>
      </div>
      <!-----In body below or part END----->
    </div>
  <!-----body part END----->
    <!-----script part START----->
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static "js/popper.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap-material-design.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-flexdatalist@2.2.4/jquery.flexdatalist.min.js"></script>
    <script src="{% static "js/material-kit.js" %}" type="text/javascript"></script>

    <script>
    $('#windfarmsdb').flexdatalist({
     searchContain: false,
     textProperty: '{Name}, {Country}, {Capacity}',
     valueProperty: '*',
     minLength: 0,
     focusFirstResult: true,
     selectionRequired: true,
     groupBy: 'Country',
     visibleProperties: ["Name", "Country", "Capacity"],
     searchIn: ["Name","Place","Country"],
     url: "{% static 'js/WindFarms.json' %}",
    });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function(event) {
        document.getElementById("windfarmsdb-flexdatalist").required=true;
        })
    </script>

    <script>
    $('#frmman').submit(function (e) {
        if ($('#details').val()==='' ||
            $('#lat').val()==='' ||
            $('#long').val()===''
        ){
            e.preventDefault()
            alert('Please Select Wind Farm from map first...')
        }
    })
    </script>

    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = '0AD61Q2E83K0BOpX1oI3H5dxWw1a033x';

        var map = L.mapquest.map('map', {
          center: [37.7749, -122.4194],
          layers: L.mapquest.tileLayer('map'),
          zoom: 12
        });

        L.mapquest.control().addTo(map);
        L.mapquest.geocodingControl({
            placeholderText: 'Search',
            keepOpen: true,
        }).on('searchahead_selected', function(resp) {
            let result = resp.result;
            $('#details').attr('value',result.displayString);
            $('#lat').attr('value',result.place.geometry.coordinates[0]);
            $('#long').attr('value',result.place.geometry.coordinates[1]);
        }).addTo(map);
      }
    </script>
    <script>
        $(document).ready(function(){
            $("#frmdb").on("submit", function(){
                document.getElementById('loaddbbtn').innerHTML='Loading...'+'<i style=\'display: inline-flex;animation: fa-spin 0.6s infinite steps(10);top: -2px;left: 9px\' class=\'fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom\'></i>';
                setTimeout(function () {
                    document.getElementById('loaddbbtn').innerHTML='Let\'s Go'
                },20000)
            });//submit
        });//document ready
    </script>
    <script>
        $(document).ready(function(){
            $("#frmman").on("submit", function(e){

                if ($('#wfcapacity').val()<=0){
                    e.preventDefault()
                    alert('Capacity should be Positive Real Number');
                }
                else{
                    document.getElementById('loadmanbtn').innerHTML='Loading...'+'<i style=\'display: inline-flex;animation: fa-spin 0.6s infinite steps(10);top: -2px;left: 9px\' class=\'fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom\'></i>';
                setTimeout(function () {
                    document.getElementById('loadmanbtn').innerHTML='Let\'s Go'
                    },20000)
                }
            });//submit
        });//document ready
    </script>


    <!-----script part END---->
</body>

</html>
