{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Jett</title>
  <!-----Required meta tags----->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-----Fonts and icons----->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-----Material Kit CSS----->
    <link href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "js/nouislider.min.js" %}"></script>
    <script src="{% static 'js/material-kit.js' %}" type="text/javascript"></script>
</head>

<body class="index-page sidebar-collapse">
  <!-----header part START----->
  <nav id="home" class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100">
    <div class="container">
      <!-----vayuputras heading START----->
      <div class="navbar-translate">
        <a class="navbar-brand" href="#home"><big><big>
          JETT </big></big></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-----vaayuputras heading END----->
      <!-----five buttons START----->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!-----home button START----->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">home</i> Home
            </a>
          </li>
          <!-----home button END----->
          <!-----dashboard button START----->
          <li class="nav-item">
            <a href="{% url 'dashb' %}" class="nav-link">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <!-----dashboard button END----->
          <!-----setup wind farm button START----->
          <li class="nav-item">
            <a href="{% url 'setupwindfarm' %}" class="nav-link">
              <i class="material-icons">construction</i> SetUp Wind Farm
            </a>
          </li>
          <!-----setup wind farm button END----->
          <!-----contact us button START----->
          <li class="nav-item">
            <a href="{% url 'contactus' %}" class="nav-link">
              <i class="material-icons">phone</i> Contact Us
            </a>
          </li>
          <!-----contact us button END----->
          <!-----Login/Signup or user account button START----->
          <li class="dropdown nav-item">
              {% if user.is_authenticated %}
                    <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                      <div class="profile-photo-small">
                          {% if user.socialaccount_set.all.0.get_avatar_url %}
                              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                           {% else %}
                              <img src="{% static "images/default-propic.jpg" %}" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                          {% endif %}
                      </div>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <h6 class="dropdown-header" style="font-weight: bolder">{{ user.username | upper}}</h6>
                  {% if request.path != "/userHome" %}
                      <a href="/userHome" class="dropdown-item">My Account and Settings</a>
                  {% endif %}
                  {% if request.path != "/accounts/logout/" %}
                      <a href="/accounts/logout/" class="dropdown-item">SIGN OUT</a>
                   {% endif %}
              {% else %}
                        <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <button class="btn btn-info btn-sm ">Login/Sign Up</button>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
              {% if request.path != "/accounts/login/" %}
                      <a href="/accounts/login/" class="dropdown-item">LOG IN</a>
              {% endif %}
              {% if request.path != "/accounts/signup/" %}
                      <a href="/accounts/signup/" class="dropdown-item">SIGN UP</a>
              {% endif %}

              {% endif %}
                    </div>
                  </li>
          <!----five buttons END----->
        </ul>
      </div>
      <!----five buttons END----->
    </div>
  </nav>
  <!-----header part END----->
  <!-----background image part START----->
  <div class="page-header header-filter " data-parallax="true" style="background-image: url('{% static "images/bg6.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-10% mr-120%">
          <div class="brand text-left">
            <h1 class=" text-left"> Jett </h1>
            <h2 class="text-left">Predicting Wind Power</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-----background image part END----->
  <!-----body part START----->
  <div class="main main-raised">
    <!-----Power Forecast for wind energy START----->
    <div class="section">
      <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <h2>Power Forecasts for Wind Energy</h2>
                </div>
                <div class="row">
                    <h4>Wind energy plays an integral role in the supply of energy world-wide. The energy output of a wind farm is highly dependent on the wind conditions present at its site. So, We aim to forecast the Power output of a wind farm from the given forecast wind conditions and Provide charts and plots for better understanding and analytics. You can collaborate with us to get personalized accurate predictions for your Wind Farm Site.</h4>
                </div>
            </div>
            <div class="col-md-7">
                <img src="{% static "images/forecastcharts.jpg" %}">
            </div>
        </div>
      </div>
    </div>
    <!-----Power Forecast for wind energy END----->
    <!-----Deep Learning Solution energy START----->
    <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
                <img src="{% static "images/LSTM.jpg" %}">
            </div>
              <div class="col-md-5">
                <div class="row">
                    <h2>Deep Learning Solution</h2>
                </div>
                <div class="row">
                    <h4> We have gathered a large amount of Data of around 17+ Million rows to be used for training our LSTM Model. We constantly aim to get more and more data to feed to our model to improve the model prediction. LSTM Model with Wind Speed as feature is used as it comes out to be the most co-related to the Wind Turbine Power output. Other features like Wind Direction, Temperature, Pressure are less co-related and So only Wind Speed feature is taken into account for Moddel training and deployment to give Fast and Accurate Predictions.</h4>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-----Deep Learning Solution energy END----->
    <!-----Functionality START----->
    <div class="section">
        <div class="container">
            <div class="row" style="justify-content: center;text-align: center">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">storage</i>
                </div>
                <h4 class="info-title">Wind Farm from Database</h4>
                <p>Select Wind Farm from our Database</p>
                <p>We have stored details of several Wind Farms around the Globe. You can choose any among them and See the 48 hours predictions for that Wind Farm</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="material-icons">explore</i>
                </div>
                <h4 class="info-title">Wind Farm from Maps</h4>
                <p>Select Wind Farm location directly from Maps</p>
                <p>We have provided Maps powered by Google, where you can search for your Wind Farm, provide it's capacity and get personalized 48 hours predictions</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">vpn_key</i>
                </div>
                <h4 class="info-title">RESTful API Support</h4>
                <p>Get all the Power predictions of your Wind Farm for next 48 hours by using our API Service</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-----Functionality END----->
    <!-----Login Signup START----->
    {% if user.is_authenticated %}
      <div class="section"></div>
      {% else %}
      <div class="section">
          <div class="container">
              <div class="row" style="justify-content: center">
                  <h2>Get Started by Logging In or Signing Up</h2>
              </div>
              <div class="row" style="justify-content: center">
                  <h4>All services are FREE and available to Signed In Users </h4>
              </div>
              <div class="row" style="justify-content: center">
                  <div class="col-md-6" style="text-align: center">
                      <form action="/accounts/login/" method="get">
                    <button class="btn btn-primary btn-lg">Login</button>
                      </form>
                  </div>
                  <div class="col-md-6" style="text-align: center">
                      <form action="/accounts/signup/" method="get">
                    <button class="btn btn-rose btn-lg">Sign Up</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      {% endif %}
    <!-----Login Signup END----->
    <div class="section"></div>
  </div>
  <!-----body part END----->

  <div class="section"></div>
    <!-----script part START----->

  <script>
    $(document).ready(function() {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>

</body>

</html>
