{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Wind Power</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.7/css/material-kit.css" integrity="sha512-PiSoB32xClutD6+bZ+OMrg9UGJF1pvkgzB40XLw8rK542EU9++JowHR73M7VI0WxtECWKYmVd11ehQ2j08W8cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

</head>

<body class="index-page sidebar-collapse">
  <!-----header part START----->
  <nav id="home" class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100">
    <div class="container">
      <!-----vayuputras heading START----->
      <div class="navbar-translate">
        <a class="navbar-brand" href="#home"> <big><big>
          JETT </big></big></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-----vaayuputras heading END----->
      <!-----five buttons START----->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!-----home button START----->
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="material-icons">home</i> Home
            </a>
          </li>
          <!-----home button END----->
          <!-----dashboard button START----->
          <li class="nav-item">
            <a href="{% url 'dashb' %}" class="nav-link">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <!-----dashboard button END----->
          <!-----setup wind farm button START----->
          <li class="nav-item">
            <a href="{% url 'setupwindfarm' %}" class="nav-link">
              <i class="material-icons">construction</i> SetUp Wind Farm
            </a>
          </li>
          <!-----setup wind farm button END----->
          <!-----contact us button START----->
          <li class="nav-item">
            <a href="{% url 'contactus' %}" class="nav-link">
              <i class="material-icons">phone</i> Contact Us
            </a>
          </li>
          <!-----contact us button END----->
          <!-----Login/Signup or user account button START----->
          <li class="dropdown nav-item">
              {% if user.is_authenticated %}
                    <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                      <div class="profile-photo-small">
                          {% if user.socialaccount_set.all.0.get_avatar_url %}
                              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                           {% else %}
                              <img src="{% static "images/default-propic.jpg" %}" alt="Profile Photo" class="rounded-circle img-fluid" style="height: 40px;width: 40px">
                          {% endif %}
                      </div>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <h6 class="dropdown-header" style="font-weight: bolder">{{ user.username | upper}}</h6>
                  {% if request.path != "/userHome" %}
                      <a href="/userHome" class="dropdown-item">My Account and Settings</a>
                  {% endif %}
                  {% if request.path != "/accounts/logout/" %}
                      <a href="/accounts/logout/" class="dropdown-item">SIGN OUT</a>
                   {% endif %}
              {% else %}
                        <a href="javascript:" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <button class="btn btn-info btn-sm ">Login/Sign Up</button>
                    <div class="ripple-container"></div></a>
                    <div class="dropdown-menu dropdown-menu-right">
              {% if request.path != "/accounts/login/" %}
                      <a href="/accounts/login/" class="dropdown-item">LOG IN</a>
              {% endif %}
              {% if request.path != "/accounts/signup/" %}
                      <a href="/accounts/signup/" class="dropdown-item">SIGN UP</a>
              {% endif %}

              {% endif %}
                    </div>
                  </li>
          <!----five buttons END----->
        </ul>
      </div>
      <!----five buttons END----->
    </div>
  </nav>
  <!-----header part END----->
  <!-----background image part START----->
  <div class="page-header header-filter " data-parallax="true" style="background-image: url('{% static "images/dashbg.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-10% mr-120%">
          <div class="brand text-left">
            <h1 class=" text-left"> Dashboard </h1>
            <h2 class="text-left">Forecasting Power</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-----background image part END----->
  <!-----body part START----->
  <div class="main main-raised" id="mapstart">

    <div class="section">
        <div class="alert alert-info">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">info_outline</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
           {{ message }}
        </div>
      </div>
        <div class="container">
            <h2>Select Your Wind Farm from the Map</h2>
            <h4>Feel Free to Explore the Maps and Select your Wind Farm and Provide us it's Capacity (in MW).</h4>

            <div class="row"></div>
            <!-----Enter location START----->
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="wflocation">Wind Farm Location</label>
                            <small id="locationHelp" class="form-text text-muted">Enter Name/Address of Wind Farm</small>
                        </div>
                    </div>
                </div>
            <!-----Enter location END----->
            <!-----Map START----->
            <div class="row">
                    <div id="map" style="width: 100%;margin: 20px"></div>
                </div>
            <!-----Map END----->
            <!-----capacity START----->
            <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="wfcapacity">Wind Farm Capacity</label>
                            <input type="number" step="0.001" class="form-control"
                                   id="wfcapacity" aria-describedby="wfcapacityHelp"
                                   placeholder="Enter Total Capacity (MW)" required>
                            <small id="wfcapacityHelp" class="form-text text-muted">Enter Total Capacity in Mega-Watts</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="wfnoofturbines">Total Turbines in Wind Farm</label>
                            <input type="number" class="form-control" id="wfnoofturbines" aria-describedby="wfcapacityHelp" placeholder="Enter Total Turbines in Wind Farm">
                            <small id="wfnoofturbinesHelp" class="form-text text-muted">Optional</small>
                        </div>
                    </div>
                </div>
            <!-----capacity END----->
            <!-----submit form START----->
            <form method="post" action="map" id="wfform">
                {% csrf_token %}
                <div class="row">
                    <h2>Review Your Wind Farm Selection</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Wind Farm</label>
                            <input type="text" name="windfarmname"
                                   class="form-control" id="name"
                                   placeholder="Wind Farm Name Should Appear here"
                                   readonly>
                    </div>
                    <div class="form-group">
                            <label for="name">Wind Farm Place</label>
                            <input type="text" name="windfarmplace"
                                   class="form-control" id="place"
                                   placeholder="Wind Farm Place Should Appear here"
                                   readonly>
                    </div>
                    <div class="form-group">
                            <label for="name">Wind Farm Country</label>
                            <input type="text" name="windfarmcountry"
                                   class="form-control" id="country"
                                   placeholder="Wind Farm Country Should Appear here"
                                   readonly >
                    </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Wind Farm Capacity</label>
                            <input type="text" name="windfarmcapacity"
                                   class="form-control readonly" id="capacity"
                                   placeholder="Wind Farm Capacity Should Appear here"
                                   readonly>
                    </div>
                    <div class="form-group">
                            <label for="name">Wind Farm Latitude</label>
                            <input type="text" name="windfarmlatitude"
                                   class="form-control" id="latitude"
                                   placeholder="Wind Farm Latitude Should Appear here"
                                   readonly>
                    </div>
                    <div class="form-group">
                            <label for="name">Wind Farm Longitude</label>
                            <input type="text" name="windfarmlongitude"
                                   class="form-control" id="longitude"
                                   placeholder="Wind Farm Longitude Should Appear here"
                                   readonly>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" name="windfarmnoofturbines" id="noofturbines" readonly>
                    </div>
                    </div>

                </div>
                <div class="row" style="justify-content: center">
                        <button type="submit" class="btn btn-primary btn-round">Let's Go</button>
                </div>
            </form>
            <!-----submit form END----->
        </div>
    </div>

  </div>
  <!-----body part END----->
<!-----script part START----->
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static "js/popper.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/bootstrap-material-design.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/moment.min.js" %}"></script>
  <script src="{% static "js/material-kit.js" %}" type="text/javascript"></script>


  <script>
   function changeIcon() {
        var copyText = document.getElementById("apikey");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
        document.getElementById('apikeyHelp').innerHTML='Copied!'
        document.getElementById('apiicon').innerHTML='check';
        document.getElementById('apikey').addEventListener('blur',function () {
            document.getElementById('apiicon').innerHTML='content_paste';
            document.getElementById('apikeyHelp').innerHTML='Click to Copy on Clipboard'
        })
   }
  </script>

  <script>
      function apiProgressBar() {
    var container = $("#progressbarContainer"),
        progressBar = $("#progressBar"),
        duration = 100,
        currentProgess = 0,
        steps = 0.5;
    $('#apikeydiv').css('display', 'none');
    progressBar.attr("aria-valuemax", duration);
    container.css("display", "block");
    container.css("width",'100%');
    container.css("height",'5px');
    var timer = setInterval(function () {
        currentProgess += steps;
        progressBar.css('width', currentProgess.toString()+'%');

        if (currentProgess >= duration) {
            clearInterval(timer);
            container.css("display", "none");
            progressBar.css('width',0);
            $('#apikeydiv').css('display', 'block');
        }
    }, steps);
}
  </script>

  <script>
      document.getElementById('wfcapacity').addEventListener('input', function () {
          $('#capacity').attr('value',$('#wfcapacity').val());
      })
      document.getElementById('wfnoofturbines').addEventListener('input', function () {
          $('#noofturbines').attr('value',Math.round(parseFloat($('#wfnoofturbines').val())));
      })
  </script>

  <script>
    $('#wfform').submit(function (e) {
        if ($('#name').val()==='' ||
            $('#place').val()==='' ||
            $('#country').val()==='' ||
            $('#latitude').val()=='' ||
            $('#longitude').val()=='' ||
            $('#capacity').val()=='' ||
            $('#capacity').val()<=0
        ){
            e.preventDefault()
            alert('Please Give All the required Details of Wind Farm first...Also check if Capacity is not Negative or Zero')
        }
    })
  </script>

    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = '0AD61Q2E83K0BOpX1oI3H5dxWw1a033x';

        var map = L.mapquest.map('map', {
          center: [37.7749, -122.4194],
          layers: L.mapquest.tileLayer('map'),
          zoom: 12
        });

        L.mapquest.control().addTo(map);
        L.mapquest.geocodingControl({
            placeholderText: 'Search',
            keepOpen: true,
        }).on('searchahead_selected', function(resp) {
            let result = resp.result;
            $('#name').attr('value',result.name);
            $('#place').attr('value',result.displayString);
            $('#country').attr('value',result.place.properties.countryCode);
            $('#latitude').attr('value',result.place.geometry.coordinates[0]);
            $('#longitude').attr('value',result.place.geometry.coordinates[1]);
        }).addTo(map);
      }
    </script>

<!-----script part END---->
</body>

</html>
